.preview-item {
    border: 1px solid #00ace6;
    border-radius: 18px;
    background-color: #00ace6;
    color: white;
    display: inline-block;
    padding: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;

    a {
        color: white;
        font-weight: bold;
    }
}