@import "../colors.scss";

.team-member-card {
    text-align: center;
    img {
        width: 180px;
        height: 180px;
        margin-bottom: 1vw;
    }

    p {
        font-size: 1.1vw;
    }
}
#name {
    font-size: 1.9vw;
    color: $dark-blue;
}
#role {
    color: $gray;
}
.stats {
    color: $gray;
}