.tool-card {
    display: inline-block;
    text-align: center;
    padding: 1em;
    margin: .5em;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    align-items: center;
    height: 100%;
}
.tool-card img {
    width: 140px;
    height: 140px;
}
.tool-card p {
    margin-top: 1.5vw;
}
.desc {
    color: black;
    max-width: 180px;
    min-height: 100px;
    word-wrap: break-word;
    display: inline-block;
}