@import "../../colors.scss";
 .attraction-card:hover {
   cursor: pointer;
 }

 .attraction-instance-header {
    text-align: center;
 }

 .nearest-hotel-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }

 .description-decor {
   padding: 2em;
   border: 0.25em solid #00ace6;
   border-radius: 5px;
   position: relative;
 
   &::before, &::after {
     content: '';
     display: block;
     position: absolute;
     background: #fff;
   }
   
   &::before {
     top: -0.3em; // let it overlap a bit to prevent thin line which could appear during scaling in some browsers etc.
     bottom: 3em;
     left: 3em;
     right: -0.3em;
   }
   
   &::after{
     left: -0.3em;
     right: 3em;
     top: 3em;
     bottom: -0.3em;
   }
   
   .description {
     position: relative;
     z-index: 1;
   }
 }

 .hovered {
  background-color: $off-white;
  box-shadow: 0 6px 6px -6px #0E1119;
}