.header {
    color: #00ace6;
    display: block;
    font-size: 1.7vw;
    text-align: center;
    margin-bottom: 1vw;
}
.search-item-attribute {
    display: block;
}
.search-item {
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    background: white;
    display: inline-block;
    padding: 2vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
}
.highlighted {
    background-color: #00ace6;
    color: white;
}
