@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.home {
    background-image: url(../../images/travvysplash.jpeg);
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bold;
}
.title {
    font-family: 'Parisienne', cursive;
    font-size: 5vw;
}
.newline {
    white-space: pre-line;
}
.home-text {
    top: 30%;
    position: relative;
}