@import "../../colors.scss";

.hotel-model {
    h1 {
        font-size: 4rem;
        font-weight: 300;
        text-align: center;
    }

    th, td {
        padding: 1.2rem 0 1.2rem 1.2rem;
    }
    
    .table-hover tbody tr.hovered {
        background-color: $off-white;
        box-shadow: 0 6px 6px -6px #0E1119;
    }

    .table-hover tbody tr {
        background-color: white;
        &:hover {
            background-color: $off-white;
            box-shadow: 0 6px 6px -6px #0e1119;
        }
    }


    td {
        &:hover {
            outline: 1px solid $darkest-blue;
            background-color: $dark-blue;
            color: white;
            font-weight: bold;

            box-shadow: $box-shadow-tint -1px 1px, $box-shadow-tint -2px 2px, $box-shadow-tint -3px 3px, $box-shadow-tint -4px 4px;
            transform: translate3d(6px, -6px, 0);

            transition-delay: 0s;
            transition-duration: 0.4s;
            transition-property: all;
            transition-timing-function: line;

            a {
                color: white;
            }
        }
    }

    th {
        background-color: $dark-blue;
        color: white;
        font-weight: 300;
        font-size: 1.3rem;
    }
}

.container {
    font-family: "Segoe UI Light", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    position: relative;
}

.box {
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    height: auto;
    -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}

.grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid > div {
    flex-basis: calc(20% - 40)
}

.hotel-instance-header {
    text-align: center;
}