@import "../../colors.scss";

.about-members {
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-links {
    width: 100%;
    text-align: center;
}
.section-title {
    font-size: 2.5vw;
    text-align: center;
    padding: .5vw;
    color: $dark-blue;
}
.about-header {
    text-align: center;
}
.tool-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.repo-stats {
    text-align: center;
}