.container {
    padding: 1vw;
}
.model {
    color: #00ace6;
    font-size: 3vw;
}
.model-section {
    // background-color: #f8f9fa;
    padding: 1vw;
    margin-bottom: 2vw;
}
.hits {
    font-size: 1.4vw;
    color: #868e96;
}