@import "../../colors.scss";

.city-model {
  h1 {

    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    margin-top: 8px;
  }

  .table {
    margin: 40px auto;
    width: 90%;
    text-align: left;
  }

  th, td {
    padding: 1.2rem 0 1.2rem 1.2rem;
  }

  tbody tr {
    background-color: white;
    &:hover {
      background-color: $off-white;
      box-shadow: 0 6px 6px -6px #0E1119;
    }
  }

  .hovered {
    background-color: $off-white;
    box-shadow: 0 6px 6px -6px #0E1119;
  }

  td {

    &:hover {
    outline: 1px solid $darkest-blue;
    background-color: $dark-blue;
    color: white;
    font-weight: bold;

    box-shadow: $box-shadow-tint -1px 1px, $box-shadow-tint -2px 2px, $box-shadow-tint -3px 3px, $box-shadow-tint -4px 4px, $box-shadow-tint -5px 5px, $box-shadow-tint -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;

      a {
      color: white;
      }
    }
  }

  th {
  background-color: $dark-blue;
  color: white;
  font-weight: 300;
  font-size: 1.3rem;
  }
}

.container {
  font-family: "Segoe UI Light", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  position: relative;
}

.city-instance {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  
}

.instance-links {
  text-align: center;
}

.select-button {
  float:right;
  margin-right: 40px;
}