.city-comparison {
    margin: 100px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

.compare-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}